* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

body {
  background-color: white;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='26' viewBox='0 0 32 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 0v3.994C14 7.864 10.858 11 7 11c-3.866 0-7-3.138-7-7.006V0h2v4.005C2 6.765 4.24 9 7 9c2.756 0 5-2.236 5-4.995V0h2zm0 26v-5.994C14 16.138 10.866 13 7 13c-3.858 0-7 3.137-7 7.006V26h2v-6.005C2 17.235 4.244 15 7 15c2.76 0 5 2.236 5 4.995V26h2zm2-18.994C16 3.136 19.142 0 23 0c3.866 0 7 3.138 7 7.006v9.988C30 20.864 26.858 24 23 24c-3.866 0-7-3.138-7-7.006V7.006zm2-.01C18 4.235 20.244 2 23 2c2.76 0 5 2.236 5 4.995v10.01C28 19.765 25.756 22 23 22c-2.76 0-5-2.236-5-4.995V6.995z' fill='%23008cba' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin: 1rem auto;
  flex-wrap: wrap;
}

form #text {
  padding: 0.5rem;
  text-align: center;
  border-radius: 5px;
}

form .btn {
  align-self: center;
  background: whitesmoke;
  color: #008cba;
  padding: 0.5rem;
  margin: 0.5rem auto;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #0099cc;
}

form .btn:hover {
  background-color: #0099cc;
  color: white;
}

#list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin: 1rem auto;
  list-style: none;
  background: rgba(255, 255, 255, 0.5);
}

#list li {
  display: flex;
  flex-direction: column;
  border: 2px solid #0099cc;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem 0;
  word-wrap: break-word;
}

#list li > span {
  color: red;
  align-self: flex-end;
}

#list li > span:hover {
  cursor: pointer;
}
