@import "mixins";

#api_info {
  margin-top: 2rem;
  .container {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .img {
      width: 48%;
      figure {
        img {
          width: 100%;
          max-width: 100%;
          border-radius: 0.3rem;
        }
      }
    }

    .data {
      width: 48%;
    }
  }
}
